__pycache__/
*.pyc
board.db
uploads/
.env
.vscode/

# Android files to ignore
OpenBoardAndroid/.gradle/
OpenBoardAndroid/build/
OpenBoardAndroid/build2/
OpenBoardAndroid/local.properties
OpenBoardAndroid/app/build/
OpenBoardAndroid/app/build2/
OpenBoardAndroid/.idea/
*.apk
*.iml
*.exe
build/
dist/
*.spec
venv/
*.log
google2989fe35afe0729a.html
*.html.new
static/*
!static/vendor/
!static/vendor/**
.openboard_jwt_secret

# HarmonyOS files to ignore
OpenBoardHarmony/.hvigor/
OpenBoardHarmony/.idea/
OpenBoardHarmony/build/
OpenBoardHarmony/oh_modules/
OpenBoardHarmony/local.properties
OpenBoardHarmony/oh-package-lock.json5
OpenBoardHarmony/entry/.preview/
OpenBoardHarmony/entry/build/
OpenBoardHarmony/entry/oh_modules/
OpenBoardHarmony/entry/local.properties
