__pycache__/
*.pyc
board.db
uploads/
.env
.vscode/

# Android files to ignore
OpenBoardAndroid/.gradle/
OpenBoardAndroid/build/
OpenBoardAndroid/build2/
OpenBoardAndroid/local.properties
OpenBoardAndroid/app/build/
OpenBoardAndroid/app/build2/
OpenBoardAndroid/.idea/
*.apk
*.iml
